<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styleregister.css">
        <title>Register</title>
    </head>
    <body>
        <div class="container">
            <div class="object">
                <h2>Register and Start marking your work</h2>
                <!-- <form action="" method=""> -->
                    <input type="email" name="email" placeholder="Email Address" id="email" required/>
                    <input type="text" name="username" placeholder="Enter username" id="username" required/>
                    <input type="password" name="password" placeholder="Password" id="password" required/>
                    <input type="password" name="sec_key" placeholder="6 digit Security Key" id="key" required/>
                    <button id="btn">Submit</button>
                <!-- </form> -->
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        <script src="/app1.js"></script>
    </body>
</html>